/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* variables define */
:root {
  --bg-color-dark: #101028;
  --bg-color-light: #292d4a;
  --font-color-light: #a9a9a9;
  --font-color-dark: #11333d;
  --primary-color: #22eba5;
  --warn-color: #dc3545;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.75;
  background-color: var(--bg-color-dark);
  color: #fff;
}

.btn {
  border: 0;
  outline: 0;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  border-radius: 40px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin: 1.2rem 0;
}
.btn__primary {
  background: var(--primary-color);
  color: var(--bg-color-dark);
}
.btn__primary:hover {
  background: #22eba5e3;
}
